body{
    text-align: center;
}
#apps{
    background-color: aquamarine;
}
#game{
    background-color: lightcoral;
}
#chatbot{
    background-color: burlywood;
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}